.scrollbar::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.scrollbar::-webkit-scrollbar-thumb{
  background: var(--color-fill-1);
  border-radius: 5px;
  position: fixed;
}
.scrollbar::-webkit-scrollbar-track{
  background: transparent;
}
#nprogress .bar {
  background: #29d;//顶部路由加载动画背景色

}
#nprogress .spinner{
  display: none;
}
